.grid {
    display: grid;
    gap: 100px 100px;
    grid-template-columns: auto auto auto auto;
}
body {
    background-color: rgba(22, 21, 21, 0.873);
    font-family: 'Ubuntu', sans-serif;

}
.card {
    background-color: lightgrey;
    width: 300px;
    margin: 20px;
    border-radius: 25px;
}
a {
    text-align: justify;
    color: white;
}
.header {
    background-color: lightgrey;
    border: 5px solid;
    margin: 10px;
    text-align: center;
    color: grey;
    background-image: linear-gradient(#9BA4B5, #394867, #212A3E);
}
h1 {
    text-align: center;
    color: tomato;
}

a:hover {
    color: red;
}
.article {
    padding-left: 200px;
    padding-right: 200px;
    text-align: justify;
    color: whitesmoke;
}
li {
    color: lightgreen;  
}
